@model IEnumerable<BetterWorld.Models.UserViewModel>

@{
    ViewData["Title"] = "Account List";
}
<link rel="stylesheet" href="~/css/Card.css" type="text/css" />
<div class="e-card playing">
    <div class="image"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="infotop">

        <h1>@ViewData["Title"]</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountType)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AccountType)
                        </td>

                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
