@model BetterWorld.Models.OrganizationViewModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Card.css" type="text/css" />
<link rel="stylesheet" href="~/css/Liststyles.css" type="text/css" />

<div class="e-card playing">
    <div class="image"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="infotop">
        <div class="list-container">
            <div class="top-bar">
                <h1>Details</h1>
            </div>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ContactNo)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
